/* font-family: 'Shadows Into Light', cursive;

font-family: 'Montserrat', sans-serif;*/

html {
	scroll-behavior: smooth;
}

.btn-outline-info:hover {
    color: black;
    background-color: white;
    border-color: white;
}




/* Fonts */


h1{
    font-family: 'Shadows Into Light', cursive;
    font-size: 40px;
}

p, a, button {
    font-family: 'Montserrat', sans-serif;    
    font-size: 18px;
}


/* Welcome section */

#welcome-container{
    height: 100vh;

    /* background: -webkit-linear-gradient(45deg, #f5796d  30%, rgba(0,0,0,0) 30%), -webkit-linear-gradient(-45deg, #f5796d  30%, #5c88c5 30%);
    background: -o-linear-gradient(45deg, #f5796d  30%, rgba(0,0,0,0) 30%), -o-linear-gradient(-45deg, #f5796d  30%, #5c88c5  30%);
    background: -moz-linear-gradient(45deg, #f5796d  30%, rgba(0,0,0,0) 30%), -moz-linear-gradient(-45deg, #f5796d  30%, #5c88c5  30%);
    background: linear-gradient(45deg, #f5796d 30%, rgba(0,0,0,0) 30%), linear-gradient(-45deg, #f5796d 30%, #5c88c5 30%); */
    background: linear-gradient(55deg, #b2e3dd 30%, rgba(0,0,0,0) 30%), linear-gradient(-55deg, rgba(0,0,0,0) 30%, #cc6930 30%), url('images/palmtreesone.jpg');
    background-size: cover;
    background-position: 50% -20%;
    text-align: right;

    

}

#welcome-col{
    padding: 25px;
    color: white;
    margin-top: 8%;
    text-align: center;

}

#cover-title {
    font-size: 65px!important;
    margin-bottom: 15px;
    color: black;
    font-weight: bold;
    position: relative;
    -webkit-animation-name: coverTitle; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    animation-name: coverTitle;
    animation-duration: 2s;
}


/* cover title animation */
@keyframes coverTitle {
    0%   {top:-200px}
    100% {top:0px}
  }

#cover-p {
    font-size: 20px!important;
    color: black;
    font-weight: bold;
    margin-top: 10px;
   
}


#gs-but{
    font-size: 25px;
    font-weight: bold;
    background-color: transparent;
    border-radius: 1.5em;
    border: 2px solid black;
}

#gs-but:hover{
    background-color: white;
}


#gs-but:active {
    background-color: #b2e3dd;

}


#cover-image{
    margin-top: 40px;
}



/* Bounce image */


@keyframes bounce {
	0%, 100%, 20%, 50%, 80% {
		-webkit-transform: translateY(0);
		-ms-transform:     translateY(0);
		transform:         translateY(0)
	}
	40% {
		-webkit-transform: translateY(-30px);
		-ms-transform:     translateY(-30px);
		transform:         translateY(-30px)
	}
	60% {
		-webkit-transform: translateY(-15px);
		-ms-transform:     translateY(-15px);
		transform:         translateY(-15px)
	}
}

#cover-image {  
  /* position: absolute;
  top: 50%;
  left: 50%; */
  height: 250px;
  width: 250px;
  border-radius: 50%;
  line-height: 180px;
  text-align: center;
  text-transform: uppercase;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}
#cover-image:hover {
  cursor: pointer;
  animation-name: bounce;
  -moz-animation-name: bounce;
}

/*About Me section */

#about-container{
    height: 100vh; 
    padding: 50px;
    background-color: #b2e3dd;
    background-image: url("https://www.transparenttextures.com/patterns/fresh-snow.png");

}

#about-col{
    padding-top: 5%;
    margin: auto;
    
}

#about-img {
    border-radius: 15em;
    height: 300px;;
    width: 300px;
    float: right;
    margin: 5px 5px 5px 10px;
}

#about-sec{
    background-color: #cc6930;
    padding: 30px;   
    text-align: justify; 
    border-radius: 1.5em;
    color: black;
    width: 750px;
}


/*Portfolio Section */
#portfolio-container{
    height: 100vh;
    padding-top: 10%;
    background-color: #b2e3dd;
    background-image: url("https://www.transparenttextures.com/patterns/fresh-snow.png");

}

.card {
    border-radius: 1.5em;
    -webkit-box-shadow: 3px 3px 5px 6px rgb(43, 46, 68);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    3px 3px 5px 6px rgb(43, 46, 68);  /* Firefox 3.5 - 3.6 */
    box-shadow:         3px 3px 5px 6px rgb(43, 46, 68);
    margin: 20px;
}

.card-img-top {
    border-radius: 1.5em 1.5em 0 0;
    height: 150px!important;
}

.card-title {
    font-family: 'Shadows Into Light', cursive;
    font-size: 20px;
    font-weight: bold;
}

a.btn {
    background-color: #cc6930;
    color: white;
}


/*Contact */

#contact-cont{
    height: 100vh; 
    padding: 50px;
    background-color: #b2e3dd;
    background-image: url("https://www.transparenttextures.com/patterns/fresh-snow.png");
}

#contact-col {
    padding-top: 5%;
    padding-right: 20%;
    padding-left: 20%;
}

#cont-btn{
    background-color: transparent ;
    color: black;
    border: 2px solid black;
    border-radius: 1.5em;
    width: 150px;
    font-size: 20px;
}

#cont-btn:hover {
    width: 155px;
    font-size: 23px;
}

#cont-btn:active{
    background-color: #cc6930;
}

label {
    font-family: 'Shadows Into Light', cursive;
    font-size: 20px;
}

input {
    margin: 10px 0 10px 0;
}


/*Footer */
footer {
    background: white;
    height:50px;
    text-align: right!important;
}

#footer-div {
    margin-right: 20px;
}

/*Navigation Bar */

.navbar{
     
    background-color: white;

}

#contact-btn{
    width: 150px;
    color: black;
    font-size: 30px;
    font-family: 'Shadows Into Light', cursive;
    background-color: transparent;
    border-radius: 1.5em;
    border: 2px solid black;
}
#contact-btn:hover{
    background-color: #cc6930;
}


#contact-btn:active {
    background-color: #b2e3dd;

}

.btn-outline-info {
    color: black;
    border-color: black;
    border-radius: 2em;
     
}



.btn-outline-info:hover{
    background-color: #b2e3dd;
    color: white;
}

#logo {
    height: 80px;
    width: 80px;
    margin-top: -10px;
    margin-bottom: -20px;
}



a.nav-link{
    color: black;
    font-size: 30px;
    font-family: 'Shadows Into Light', cursive;
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 3px 3px;
    text-decoration: none;

}

a.nav-link:hover {
    color: #cc6930;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23cc6930' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
    background-position: 0 100%;
    background-size: auto 6px;
    background-repeat: repeat-x;
    text-decoration: none;
}

a.nav-link.active {
    color: #cc6930;
}



/* Media Queries */


/* 1290 */

/* // Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) */

 @media only screen and (min-width: 600px) {
    #cover-title {
        font-size: 5px!important;
    }
  }

/* // Medium devices (tablets, 768px and up) */
/* @media (min-width: 768px) { } */

/* // Large devices (desktops, 992px and up) */
/* @media (max-width: 992px) { 
   
} */

/* // Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) { 
   

    #cover-title {
        font-size: 50px!important;
        margin-top: 35px!important;
    }

    #cover-p {
        font-size: 20px!important;
    }

    #cover-image {
        width: 180px;
        height: 180px;
    }

    

    #contact-btn, a.nav-link {
        font-size: 22px!important;
    }

    #contact-btn{
        width: 120px;
    }

    h1{
        font-size: 35px;
    }

    p{
        font-size: 16px;
    }

    #about-img{
        width: 200px;
        height: 200px;
    }

    #about-container{
        height: 130vh;
    }

    #about-sec {
        width: 100%;
    }

    #portfolio-container {
        padding-top: 80px;
        height: 140vh;
    }

    #contact-col {
        margin-top: 50px;
    }

}
